<div class="footer">
    <div class="social">
        <a href="#facebook"><img src="./img/fb.png" alt="facebook"></a>
        <a href="#instagram"><img src="./img/ig.png" alt="instagram"></a>
    </div>
</div>