<div class="lang-select">
    <form action="/change-language" method="get">
        <button name="lang" onclick="this.form.submit()" value="hr" class="lang langhr" />      
    </img>
    </form>
    <form action="/change-language" method="get">
        <button name="lang" onclick="this.form.submit()" value="en" class="lang langen" / > 
    </img> 
    </form>
  </div>